{% extends 'base_admin.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}



<h1 class="text-center my-4 title">Ajouter un article </h1>

{{ form_start(formArticle) }}

    {{ form_row(formArticle.categoryArticle, 
    {label: 'Titre de catégorie'}
    ) }}

    {{ form_row(formArticle.titleArticle, 
    {label: 'Article à ajouter'}
    ) }}

                    <div class="my-4 text-center">
                        <input type="button" class="button" value="Ajouter">
                    </div>

{{ form_end(formArticle) }}


        <div class="my-4 text-center">
<a href="{{ path('viewArticle') }}"><input type="button" class="button" value="Retour"></a>
        </div>





{% endblock %}