{% extends 'base_admin.html.twig' %}

{% block title %}Ajout Membre{% endblock %}

{% block body %}

<h2 class="text-center my-4 title">Ajouter un membre à la tribu</h2>

<div class="col-4 mx-auto pt-5 mb-5 ">

{{ form_start(formAddMember) }}

    {{ form_row(formAddMember.status) }}

    {{ form_row(formAddMember.firstName, {
        label: 'Prénom'
    }) }}

    {{ form_row(formAddMember.lastName, {
        label: 'Nom'
    }) }}

    {{ form_row(formAddMember.maidenName, {
        label: 'Nom de jeune fille'
    }) }}

    {{ form_row(formAddMember.email, {
        label: 'Email'
    }) }}

    {{ form_row(formAddMember.birthDate, {
        label: 'Date de naissance'
    }) }}

    {{ form_row(formAddMember.sexe, {
        label: 'Sexe'
    }) }}

    {{ form_row(formAddMember.phone, {
        label: 'Téléphone'
    }) }}

    {{ form_row(formAddMember.password, {
        label: 'Mot de passe'
    }) }}

    
    {# <button type="submit" class="btn btn-warning mb-5">Ajouter</button> #}
    <div class="text-center">
    <input type="submit" class="button" value="Enregistrer">
    </div>

{{ form_end(formAddMember) }}

</div>


{% endblock %}
