{% extends 'base_admin.html.twig' %}

{% block title %}Réunions{% endblock %}

{% block body %}

<div class="col-4 mx-auto pt-5 text-center">
    <h3 class="text-center title">
        {# Si la condition IF renvoie TRUE, cela veut dire que editMode(fichier BlogController.php) contient un ID d'un article, alors c'est une modification #}
        {% if editCouncil %}
            Modifier une réunion
        {# Sinon editMode ne contient aucun ID d'article, il renvoi FALSE, alors c'est une insertion, on entre dans le ESLE #}
        {% else %}
            Ajouter une Réunion
        {% endif %}
    </h3>
    <hr>

    {{ form_start(formAddCouncil) }}

        {{ form_row(formAddCouncil.titleCouncilTribe, {'label': 'Titre'}) }}

        {{ form_row(formAddCouncil.comments, {'label': 'Contenu'}) }}

        {{ form_row(formAddCouncil.dateStart, {'label': 'Date début événement'}) }}

        {{ form_row(formAddCouncil.dateEnd, {'label': 'Date fin événement'}) }}

        {{ form_row(formAddCouncil.hourStart, {'label': 'Heure début'}) }}

        {{ form_row(formAddCouncil.hourEnd, {'label': 'Heure fin'}) }}

        <input type="submit" class="button" 
        {% if editCouncil %}
            value="Enregistrer les modifications"
        {% else %}
            value="Enregistrer"
        {% endif %}
        >
        

    {{ form_end(formAddCouncil) }}
</div>

{% endblock %}