{% extends 'base_admin.html.twig' %}

{% block title %}Réunions{% endblock %}

{% block body %}

<div class="container">
    <div class="col-12">
        <h1 class="fst-italic text-center my-5">
        {# Si la condition IF renvoie TRUE, cela veut dire que editMode(fichier BlogController.php) contient un ID d'un article, alors c'est une modification #}
        {% if editCouncil %}
            Modification d'une Réunion
        {# Sinon editMode ne contient aucun ID d'article, il renvoi FALSE, alors c'est une insertion, on entre dans le ESLE #}
        {% else %}
            Création d'une Réunion
        {% endif %}
    </h1>

        {{ form_start(formAddCouncil) }}

            {{ form_row(formAddCouncil.titleCouncilTribe) }}

            {{ form_row(formAddCouncil.comments) }}

            {{ form_row(formAddCouncil.dateStart) }}

            {{ form_row(formAddCouncil.dateEnd) }}

            {{ form_row(formAddCouncil.hourStart) }}

            {{ form_row(formAddCouncil.hourEnd) }}

            <button type="submit" class="btn btn-primary mb-5">
            {% if editCouncil %}
                Enregistrer les modifications
            {% else %}
                Enregistrer
            {% endif %}
            </button>

        {{ form_end(formAddCouncil) }}

    </div>
</div>
{% endblock %}