{% extends "base_admin.html.twig" %}

{% block title %}
    Détails Réunion
{% endblock %}

{% block body %}

    {# {{ dump(councilBDD) }} #}

    <h4 class='title text-center mb-5'>Voici votre Réunion !</h4>

    {# AFFICHAGE MESSAGE VALIDATION UTILISATEUR #}
    {# app : objet TWIG qui contient toutes les données de la session en cours, du fichier de session #}
    {# Flashes() : méthode permettant d'accèder en session au message flash utilisateur déclarés ds le controller, il faut lui fournir en argument l'identifiant (sucsess) #}
    {# message : variable de reception que nous définissons, qui receptionne un message utilisateur par tour de boucle #}
    {% for message in app.flashes("success") %}
        <div class="col-md-4 mx-auto alert alert-primary text-center p-2">
        {{ message }}
        </div>
    {% endfor %}
    <hr>
    
    <div class="row mb-2 d-flex border rounded overflow-hidden shadow-sm justify-content-center flex-wrap">
    <div class="col-md-6 mx-auto text-center p-4">
        {# <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative p-3"> #}

        <h3 class="title mt-2">{{ councilBDD.titleCouncilTribe }}</h3>

        <small class="date">Réunion le : {{ councilBDD.dateStart|date('d/m/Y') }} à {{ councilBDD.hourStart|date('H:i') }}</small>

        <small class="date">Fin le : {{ councilBDD.dateEnd|date('d/m/Y') }} à {{ councilBDD.hourEnd|date('H:i') }}</small>
        <hr>

        <p class="card-text mb-auto">{{ councilBDD.comments}}</p>


    </div>  

    </div>
        {# la fonction path() attend en argument le NOM de la route définit ds le fichier Controller.php ds l'annonce de la @Route("", name="NOM_ROUTE") #}
        {# <a href="{{ path('council') }}">Retour aux réunions !</a> #}
        {# <a href="{{ path('councilEdit', {"id": councilBDD.id}) }}">Modifier</a> #}
        <div class="col-md-6 mx-auto text-center m-4 p-4">
            <a href="{{ path('council') }}"><input type="button" class="button" value="Retour aux réunions !"></a>
            <a href="{{ path('councilEdit', {"id": councilBDD.id}) }}"><input type="button" class="buttonR" value="Modifier"></a>
        </div>
    

{% endblock %}