{% extends 'base_admin.html.twig' %}

{% block title %}

    {% if editMode %}
        DOCUMENTS | Modification d'une catégorie de document
    {% else %}
        DOCUMENTS | Ajout d'une catégorie de document
    {% endif %}

{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">
        {% if editMode %}
            Modifier la catégorie pour vos documents
        {% else %}
            Ajouter une catégorie pour vos documents
        {% endif %}
    </h1>

    {# <h1>{{ controller_name }}</h1> #}

    <div class="container">
        <div class="row">

{#            <h1 class="text-center my-4">Ajouter une catégorie pour vos documents </h1>#}

            {{ form_start(formCategoryDocumentAdd) }}
{#            {{ form_start(formCategoryDocumentAdd, {'attr': {'class': 'col-md-7 mx-auto'} }) }}#}

            {{ form_row(formCategoryDocumentAdd.titleCategoryDoc) }}
{#            {{ form_row(formCategoryDocumentAdd.titleCategoryDoc, { 'attr': {'placeholder': "Titre de la catégorie"} }) }}#}

{#            <button type="submit" class="btn btn-warning mb-5">Valider l'ajout d'une catégorie pour vos documents</button>#}
            {% if editMode %}
                <input type="submit" class="button" value="Valider">
            {% else %}
                <input type="submit" class="button" value="Ajouter">
            {% endif %}

            {{ form_end(formCategoryDocumentAdd) }}

        </div>
    </div>

{% endblock %}