{% extends 'base_admin.html.twig' %}

{% block title %}DOCUMENTS | Ajouter une catégorie de document{% endblock %}

{% block body %}

    {# <h1>{{ controller_name }}</h1> #}

    <table class="table table-bordered text-center">

        <tr>
            {% for data in colonnes %}
                {% if data != 'id' %}
                    {# <th>{{ data }}</th> #}
                    <th>CATEGORY</th>
                {% endif %}
            {% endfor %}
            {# <th>Catégorie</th> #}
            <th>Edit</th>
            <th>Supp</th>
        </tr>
        {% for key, data in categoryDocument %}
            <tr>
                {# //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}
                <td>{{ data.titleCategoryDoc }}</td>
                {# <td><a href="{{ path('edit_CategoryDocument', {'id': data.id }) }}" class="text-dark"><i class="fas fa-edit fa-1x">EDIT</i></a></td> #}
                <td>edit</td>
                {# <td><a href="{{ path('delete_categoryDocument', {'id': data.id })}}" class="text-dark"><i class="fas fa-trash-alt fa-1x"></i></a></td> #}
                <td>remove</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}