{% extends 'base_admin.html.twig' %}

{% block title %}
    {% if editMode %}
        DOCUMENTS | Modifier un document
    {% else %}
        DOCUMENTS | Ajouter un document
    {% endif %}
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4 title">
        {% if editMode %}
            Modifier votre document
        {% else %}
            Ajouter un document
        {% endif %}
    </h1>

    <div class="container">
        <div class="row">

            {{ form_start(formDocumentAdd) }}

            {# {{ form_row(formDocumentAdd.fileTitle) }} #}


            {{ form_widget(formDocumentAdd) }}


            {# Si la route est "annonces_edit on affiche les images #}
            {% if app.request.attributes.get('_route') == 'documentEdit' %}
                <h2>Documents</h2>
                {% for file in document.files %}
                    <div>
                        <img src="{{ asset('/uploads/'~file.titleFile) }}" alt="" width="150">

                        {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                        <a href="{{ path('annonces_delete_image', {'id' : file.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ file.id )}}">Supprimer</a>
                    </div>
                {% endfor %}
            {% endif %}

            <hr>

            {% if editMode %}
                <input type="submit" class="button" value="Modifier votre document">
                <a href="{{ path('viewDocuments') }}"><input type="button" class="buttonR" value="Annuler"></a>
            {% else %}
                <input type="submit" class="button" value="Ajouter votre document">
                <a href="{{ path('viewDocuments') }}"><input type="button" class="buttonR" value="Annuler"></a>
            {% endif %}

            {{ form_end(formDocumentAdd) }}

        </div>
    </div>

{#    {{ include('documents/fomrEditDocument.html.twig', {'button_label': 'Update'}) }}#}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/files.js') }}"></script>
{% endblock %}