{% extends 'base_admin.html.twig' %}

{% block title %}Repertoire{% endblock %}

{% block body %}

<h1 class="text-center my-4">
        {% if editContact %}  
            Je modifie mon contact
        {% else %}
            J'ajoute un contact
        {% endif %}
        </h1>

{{ form_start(formRepertoire) }}

    {{ form_row(formRepertoire.firstName) }}

    {{ form_row(formRepertoire.lastName) }}

    {{ form_row(formRepertoire.adress) }}

    {{ form_row(formRepertoire.country) }}

    {{ form_row(formRepertoire.postalCode) }}

    {{ form_row(formRepertoire.phoneHome) }}

    {{ form_row(formRepertoire.indPhoneHome) }}

    {{ form_row(formRepertoire.phone) }}

    {{ form_row(formRepertoire.indPhone) }}

    {{ form_row(formRepertoire.phonePro) }}

    {{ form_row(formRepertoire.indPhonePro) }}

    {{ form_row(formRepertoire.email) }}

    {{ form_row(formRepertoire.emailPro) }}

    {{ form_row(formRepertoire.picture) }}

    {# {{ form_row(formRepertoire.user) }} #}


    <button type="submit" class="btn btn-warning mb-5">
        {% if editContact %}  
            Je modifie !
        {% else %}
            J'ajoute !
        {% endif %}
        </button>

{{ form_end(formRepertoire) }}


{% endblock %}

