{% extends 'base_admin.html.twig' %}

{% block title %}Repertoire{% endblock %}

{% block body %}

<h1 class="title text-center my-4">
        {% if editContact %}  
            Je modifie mon contact
        {% else %}
            J'ajoute un contact
        {% endif %}
        </h1>

{{ form_start(formRepertoire) }}

    {{ form_row(formRepertoire.firstName, {label: 'Prénom'}) }}

    {{ form_row(formRepertoire.lastName, {label: 'Nom'}) }}

    {{ form_row(formRepertoire.adress, {label: 'Adresse'}) }}

    {{ form_row(formRepertoire.country, {label: 'Pays'}) }}

    {{ form_row(formRepertoire.postalCode, {label: 'Code Postal'}) }}

    {{ form_row(formRepertoire.phoneHome, {label: 'Téléphone Maison'}) }}

    {{ form_row(formRepertoire.indPhoneHome, {label: 'Indicatif Téléphone Maison'}) }}

    {{ form_row(formRepertoire.phone, {label: 'Téléphone Portable'}) }}

    {{ form_row(formRepertoire.indPhone, {label: 'Indicatif Téléphone Portable'}) }}

    {{ form_row(formRepertoire.phonePro, {label: 'Téléphone Professionnel'}) }}

    {{ form_row(formRepertoire.indPhonePro, {label: 'Indicatif Téléphone Professionnel'}) }}

    {{ form_row(formRepertoire.email, {label: 'Email'}) }}

    {{ form_row(formRepertoire.emailPro, {label: 'Email Professionnel'}) }}

    {{ form_row(formRepertoire.pictureFile, {label: 'Photo'}) }}

    {# {{ form_row(formRepertoire.user) }} #}


    <input type="submit" class="button"
        {% if editContact %}  
            value="Modifier"
        {% else %}
            value="Ajouter"
        {% endif %}
        >

{{ form_end(formRepertoire) }}


{% endblock %}

