{% extends 'base_admin.html.twig' %}

{% block title %}User Gestion{% endblock %}

{% block body %}

    <h1 class=" text-center mx-auto title">Votre tribu</h1>

        {% for message in app.flashes('success') %}

        <div class="d-flex justify-content-center">
            <div class="alert alert-dark text-center col-5 my-2" role="alert">
            {{ message }}
            </div>
        </div>

        {% endfor %}    

    <div class="d-flex justify-content-center mb-2">
        <div class="accueil mb-3">
        </div>
    </div>
<div class="row d-flex justify-content-center align-items-center">

        {% for oneTribe in usersBDD %}
            {# {{ dump(oneTribe) }} #}

            <div class="cardUser d-flex flex-column justify-content-center align-items px-4 mx-2 mb-2">
                
                <h4 class="mb-0 titreUser">{{ oneTribe.firstName }}, {{ oneTribe.lastName }}</h4>
                <h5 class="mb-0 titreUser">{{ oneTribe.status }}</h5>
                    
                    <h5 class="mb-0">
                        {% if oneTribe.roles[0] == 'ROLE_SUPER_USER' %}
                            <p class="mb-0">Chef de Tribu</p>
                        {% else  %}
                            <p class="mb-0">Membre de la Tribu</p>
                        {% endif %}
                    </h5>

                    {% if is_granted('ROLE_SUPER_USER') %}
                    <div class="d-flex flex-row d-flex">
                        <a class="iconLinkUser" href="{{ path('gestion_remove' , {'id' : oneTribe.id}) }}"><i class="bi bi-trash"></i></a>
                        <a class="iconLinkUser" href="{{ path('addMember_edit' , {'id' : oneTribe.id}) }}"><i class="bi bi-pencil mx-2"></i></a>
                    </div>
                    {% endif %}
            </div>

        {% endfor %}
        {% if is_granted('ROLE_SUPER_USER') %}
        <div class="text-center my-5">
        <a class="" href="{{ path('addMember') }}"><input type="button" class="button" value="Ajouter Membre"></a>  
        </div>
        {% endif %}

    </div>

    <div>
    </div>

{% endblock %}
