{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{#  #}
        <!-- Custom styles for this template -->
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
        <h3 class="float-md-start mb-0">Tipi</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
        </nav>
        </div>
    </header>

    <main class="px-3 text-center">
        <h1>Cover your page.</h1>
        <p class="lead"></p>
        <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
{#  #}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>

{#  #}
<hr>
        <p class="">Vous n'avez pas encore de Tribu ?</p>
        <a href="{{ path('tribe') }}"><button class="btn btn-lg btn-success" type="submit">Creer sa Tribu</button></a>
        
        
<p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </main>
{#  #}

{% endblock %}


